/* ==========================================================================
   T.O.C. This file imports all the sass files.
   ========================================================================== */
/*
01 Normalize
02 Config (Variables, Mixins, Extensions, Declarations, Typefaces, Icon Fonts)
03 Typography (Body, Articles)
04 Elements (Links, Buttons, Images, Figures, Forms)
05 Navigation (Global Header, Menus, Footer)
06 Layout (Articles, Asides, Sidebars)
07 Pages (Custom Styles for Different Templates)
08 Modules (3rd Party Sliders, Tabs, Widgets)

*/
/*
 * Reset
 */
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

audio:not([controls]) {
  display: none;
  height: 0; }

html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */ }

[hidden] {
  display: none; }

html, button, input, select, textarea {
  font-family: sans-serif; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

b, strong {
  font-weight: bold; }

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0; }

/* ==============================  SCALE */
html {
  font-size: 16px;
  font-size: 1rem; }

/*(16px)*/
/*(24px)*/
/*24px*/
/* ============================== COLORS */
/* ============================== MEDIA */
/* ============================== MIXINS & EXTENDS */
/**
 * Clearfix
 */
#site-header nav#custom-nav:before, #search-primary form:before, header:before, footer:before, section:before, article:before, aside:before, ul:before, ul.posts li.post:before, #site-header nav#custom-nav:after, #search-primary form:after, header:after, footer:after, section:after, article:after, aside:after, ul:after, ul.posts li.post:after {
  content: "";
  display: table;
  clear: both; }

figure {
  max-width: 43.75em;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  padding-left: 5%;
  padding-right: 5%; }

/* ==========================================================================
   Helper classes
   ========================================================================== */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px; }

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%; }

.hidden {
  display: none !important;
  visibility: hidden; }

#search-primary form .screen-reader-text {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }
  #search-primary form .screen-reader-text :active, #search-primary form .screen-reader-text :focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto; }

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

.invisible {
  visibility: hidden; }

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

/* ==========================================================================
   Print styles
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  /*
   * Don't show links for images, or javascript/internal links
   */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group;
    /* h5bp.com/t */ }

  tr,
  img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }
/* ========================================== ICON FONTS */
@font-face {
  font-family: 'thrillderness';
  src: url("../fonts/thrillderness.eot?-2qz58k");
  src: url("../fonts/thrillderness.eot?#iefix-2qz58k") format("embedded-opentype"), url("../fonts/thrillderness.woff?-2qz58k") format("woff"), url("../fonts/thrillderness.ttf?-2qz58k") format("truetype"), url("../fonts/thrillderness.svg?-2qz58k#thrillderness") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  font-family: 'thrillderness';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 1.5em;
  vertical-align: middle;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-down:before {
  content: "\e600"; }

.icon-left:before {
  content: "\e601"; }

.icon-right:before {
  content: "\e602"; }

.icon-up:before {
  content: "\e603"; }

.icon-shaka:before {
  content: "\e604"; }

.icon-t-logo:before {
  content: "\e60b"; }

.icon-Thrillderness:before {
  content: "\e60c"; }

.icon-google:before {
  content: "\e60e"; }

.icon-instagram:before {
  content: "\e60f"; }

.icon-tumblr:before {
  content: "\e610"; }

.icon-twitter:before {
  content: "\e611"; }

.icon-vimeo:before {
  content: "\e612"; }

.icon-youtube:before {
  content: "\e613"; }

.icon-add-to-cart:before {
  content: "\e614"; }

.icon-masonry:before {
  content: "\e60d"; }

.icon-check:before {
  content: "\e618"; }

.icon-calendar:before {
  content: "\e620"; }

.icon-compass:before {
  content: "\e616"; }

.icon-launch:before {
  content: "\e617"; }

.icon-clock:before {
  content: "\e619"; }

.icon-location:before {
  content: "\e61a"; }

.icon-search:before {
  content: "\e61b"; }

.icon-cart:before {
  content: "\e61c"; }

.icon-alert:before {
  content: "\e621"; }

.icon-camera-roll:before {
  content: "\e61d"; }

.icon-grid:before {
  content: "\e622"; }

.icon-close:before {
  content: "\e61e"; }

.icon-expand:before {
  content: "\e623"; }

.icon-collapse:before {
  content: "\e624"; }

.icon-menu:before {
  content: "\e61f"; }

.icon-fold:before {
  content: "\e625"; }

.icon-unfold:before {
  content: "\e626"; }

.icon-share:before {
  content: "\e627"; }

.icon-facebook:before {
  content: "\ea8c"; }

.icon-rss:before {
  content: "\ea94"; }

/* ========================================== Body Text */
body {
  font-family: "expo-serif-pro", Georgia, Cambria, Times, serif;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: normal;
  color: #333333;
  color: rgba(0, 0, 0, 0.8);
  background-color: #fdfdfd;
  /* Better Font Rendering =========== */
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(to bottom, cyan 0, rgba(255, 255, 255, 0) 1px);
  background-repeat: repeat-y;
  background-size: 100% 1.5rem; }
  @media screen and (min-width: 43.75em) {
    body {
      background-size: 100% 30px; } }

/* ========================================== Vertical Rhythm */
/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure {
  margin-top: 0;
  margin-bottom: 1.5rem; }
  @media screen and (min-width: 43.75em) {
    h1, h2, h3, h4, h5, h6,
    p, blockquote, pre,
    ul, ol, dl, figure {
      margin-bottom: 30px; } }

/* ========================================== Headings */
/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  font-family: "proxima-nova-alt-condensed", Helvetica-Neue, Helvetica, Arial, sans-serif;
  font-weight: 800;
  margin-top: 0; }

article {
  margin: 0;
  font-size: 1rem; }
  @media screen and (min-width: 43.75em) {
    article {
      font-size: 20px;
      font-size: 1.25rem; } }

h1 {
  font-size: 1.5em;
  line-height: 1; }
  @media screen and (min-width: 37.5em) {
    h1 {
      font-size: 2em;
      line-height: 1.5; } }
  @media screen and (min-width: 43.75em) {
    h1 {
      font-size: 3em;
      line-height: 1; } }

h2 {
  font-weight: 400;
  font-size: 1.25em;
  line-height: 1.25; }
  @media screen and (min-width: 43.75em) {
    h2 {
      font-size: 2em; } }

h3 {
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: .05em;
  font-weight: 800; }

h4 {
  font-size: 1em;
  font-weight: 600; }

h5 {
  font-size: 1em;
  font-weight: 600; }

h6 {
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: .1em; }

/**
 * Blockquotes
 */
blockquote {
  font-family: georgia,times,serif;
  color: #888888;
  color: rgba(0, 0, 0, 0.6);
  border-left: 5px solid #eeeeee;
  padding-left: 0.75rem;
  font-size: 1em;
  text-align: left;
  letter-spacing: .01em;
  font-style: italic; }
  @media screen and (min-width: 43.75em) {
    blockquote {
      font-size: 1.25em;
      line-height: 1.2; } }

/**
 * Lists
 */
ul, ol {
  margin-left: 1.5rem; }

li > ul,
li > ol {
  margin-bottom: 0; }

/* ====================== Links */
a {
  -webkit-transition-duration: .15s;
  -moz-transition-duration: .15s;
  -ms-transition-duration: .15s;
  -o-transition-duration: .15s;
  transition-duration: .15s;
  color: black;
  text-decoration: underline;
  outline: none;
  cursor: pointer; }
  a:visited {
    color: #888888; }
    a:visited:hover {
      color: #43b557; }
  a:hover {
    color: #43b557; }

/* ====================== Navs */
nav ul {
  margin: 0;
  padding: 0; }
  nav ul li {
    list-style-type: none; }
nav a {
  text-decoration: none; }

/* ====================== Buttons */
/* ====================== Forms & Inputs */
form {
  font-family: "proxima-nova-alt-condensed", Helvetica-Neue, Helvetica, Arial, sans-serif;
  font-size: 1rem; }

input {
  font-family: "proxima-nova-alt-condensed", Helvetica-Neue, Helvetica, Arial, sans-serif;
  font-size: 1em;
  outline: none;
  border: none;
  color: #484848; }

input[type=submit] {
  background-color: #43b557;
  color: white;
  cursor: pointer;
  letter-spacing: .1em; }
  input[type=submit]:hover {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2); }
  input[type=submit]:active {
    background-color: black; }

label {
  float: left;
  text-align: right;
  margin-right: 1em;
  width: 6.25em; }

/* ====================== Figures & Captions */
figure {
  display: block;
  background-color: white;
  box-shadow: 0px 0px 1px #888888;
  padding: 0 !important;
  max-width: 31.25em !important; }
  figure img {
    display: block;
    margin: 0 auto;
    width: 100%; }
  figure figcaption {
    font-size: 0.875rem;
    font-family: courier,georgia,serif;
    display: block;
    padding: .5em; }
    figure figcaption p {
      margin-bottom: 0; }

/* ====================== Images & Videos */
img {
  display: block;
  width: 100%;
  max-width: 75em;
  margin: 0 auto;
  vertical-align: middle; }
  img.half {
    width: 50%;
    float: left; }

img + h1, img + h2, img + h3 {
  margin-top: 1em; }

img + p, p + img {
  margin-top: 2em; }

#site-header {
  font-family: "proxima-nova-alt-condensed", Helvetica-Neue, Helvetica, Arial, sans-serif;
  font-size: 1rem;
  padding: 0;
  background-color: white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  z-index: 999;
  left: 0;
  right: 0; }
  #site-header a {
    display: block;
    padding: .75em 1em;
    text-decoration: none;
    color: black; }
    #site-header a.active, #site-header a:hover, #site-header a:active {
      color: #43b557; }
    #site-header a:visited {
      color: black; }
      #site-header a:visited:hover {
        color: #43b557; }
  #site-header #logo {
    font-size: 2em;
    text-decoration: none;
    margin: 0;
    display: block;
    padding: 0em .5em;
    margin: 0 auto;
    width: 5em; }
    #site-header #logo span {
      display: inline-block;
      font-size: 1em; }
  #site-header nav#custom-nav {
    display: none;
    float: left;
    font-weight: 600;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: scroll;
    overflow-y: hidden; }
    #site-header nav#custom-nav ul {
      float: left;
      width: 150%; }
      #site-header nav#custom-nav ul li {
        float: left; }
        #site-header nav#custom-nav ul li a {
          color: black;
          padding: 1em 1em; }
          #site-header nav#custom-nav ul li a:hover {
            color: #43b557; }
  #site-header #toggle-menu-primary {
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    float: left; }
    #site-header #toggle-menu-primary.active {
      box-shadow: 0 2px 0 0 black; }
  #site-header #toggle-search-primary {
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    position: absolute;
    right: 0;
    top: 0; }

#menu-primary {
  width: 80%;
  padding: 2em 10%;
  margin: 0;
  overflow-y: scroll;
  font-family: "proxima-nova-alt-condensed", Helvetica-Neue, Helvetica, Arial, sans-serif;
  font-weight: 800;
  font-size: 1em;
  background-color: white;
  -webkit-transition-duration: .25s;
  -moz-transition-duration: .25s;
  -ms-transition-duration: .25s;
  -o-transition-duration: .25s;
  transition-duration: .25s; }
  #menu-primary.fixed {
    padding: 0 10%;
    position: fixed;
    top: 0;
    bottom: 100%;
    left: 0;
    right: 0;
    opacity: 0; }
  #menu-primary.open {
    padding: 6em 10%;
    bottom: 0;
    opacity: 1;
    z-index: 996; }
  #menu-primary nav {
    width: 100%;
    max-width: 43.75em;
    margin: 0 auto;
    padding: 1.5rem 0;
    border-top: 5px solid rgba(0, 0, 0, 0.9); }
  #menu-primary ul {
    font-size: 1em; }
    #menu-primary ul li {
      padding: 0;
      margin: 0; }
    #menu-primary ul a {
      display: block;
      padding: .25em 0;
      color: black; }
      #menu-primary ul a:hover {
        color: #43b557; }
  #menu-primary #categories li {
    font-size: 2em;
    width: 100%; }
    #menu-primary #categories li a {
      padding: 0; }
    @media screen and (min-width: 43.75em) {
      #menu-primary #categories li {
        font-size: 3em; } }
  #menu-primary #pages {
    text-transform: uppercase;
    letter-spacing: .15em; }
  #menu-primary #tags {
    border-top: 1px solid rgba(0, 0, 0, 0.1); }
    #menu-primary #tags li {
      float: left; }
      #menu-primary #tags li a {
        display: inline-block;
        text-transform: uppercase;
        padding: .5em 1em .5em 0;
        letter-spacing: .05em; }
        #menu-primary #tags li a:before {
          content: '#';
          font-weight: 400;
          color: rgba(0, 0, 0, 0.4); }

#search-primary {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  max-height: 0;
  padding: 0;
  z-index: 997;
  background-color: white;
  color: #484848;
  overflow: hidden;
  -webkit-transition-duration: .15s;
  -moz-transition-duration: .15s;
  -ms-transition-duration: .15s;
  -o-transition-duration: .15s;
  transition-duration: .15s; }
  #search-primary.open {
    max-height: 100%;
    bottom: 0;
    padding: 6em 0;
    overflow-y: scroll; }
  #search-primary form {
    display: block;
    width: 100%;
    max-width: 37.5em;
    margin: 0 auto;
    position: relative; }
    #search-primary form input {
      padding: .25em .5em; }
    #search-primary form #search-field-primary {
      font-size: 2em;
      border: none;
      background-color: transparent;
      outline: none;
      width: 85%;
      margin: 0 auto; }
    #search-primary form #search-submit-primary {
      font-weight: 600;
      display: block;
      position: absolute;
      text-transform: uppercase;
      font-size: 1em;
      top: 0;
      right: 0;
      padding: 1em; }

#site-footer {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.9);
  color: rgba(255, 255, 255, 0.8);
  font-family: "proxima-nova-alt-condensed", Helvetica-Neue, Helvetica, Arial, sans-serif;
  font-weight: 600;
  color: #888888; }
  #site-footer section {
    clear: both; }
    #site-footer section .arrow {
      color: #43b557; }
    #site-footer section .wordmark {
      color: white; }
    #site-footer section .tagline {
      color: #888888;
      font-size: 1.25rem; }
    #site-footer section .copyright {
      font-family: "expo-serif-pro", Georgia, Cambria, Times, serif;
      font-weight: 400; }
  #site-footer li a {
    color: #888888;
    display: block;
    padding: 1em .5em; }
    #site-footer li a:hover {
      color: #43b557; }
  @media screen and (min-width: 43.75em) {
    #site-footer #footer-nav {
      float: left; } }
  #site-footer #footer-nav li {
    float: left;
    width: 100%; }
    @media screen and (min-width: 37.5em) {
      #site-footer #footer-nav li {
        width: auto; } }
  @media screen and (min-width: 43.75em) {
    #site-footer #social-nav {
      float: right; }
      #site-footer #social-nav li {
        float: left; } }
  #site-footer #social-nav li {
    display: inline-block; }

/*
 * Layout
 */
body {
  padding-top: 3rem; }

article {
  position: relative; }
  article header {
    position: relative;
    background-color: #eeeeee;
    color: black;
    padding: 1.5rem 1.5rem;
    text-align: center; }
  article .featured-image {
    display: block;
    width: 400px;
    height: 400px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    padding: 0;
    margin: 1.5rem auto;
    overflow: hidden;
    background-color: blue; }
  article .category-link {
    font-family: "proxima-nova-alt-condensed", Helvetica-Neue, Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 800;
    letter-spacing: .1em;
    color: black;
    padding: .25em 0;
    width: auto;
    border-bottom: 5px solid black; }
  article .title {
    text-transform: uppercase; }
  article section, article div, article aside {
    max-width: 34em;
    margin: 0 auto;
    padding: 1.5rem; }

ul.posts {
  list-style: none;
  margin: 0;
  max-width: 50em;
  margin: 0 auto; }
  @media screen and (min-width: 62.5em) {
    ul.posts {
      margin: 0;
      float: left; } }
  ul.posts li.post {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.2);
    padding: 1.5rem;
    background-color: rgba(255, 255, 255, 0.3); }
    ul.posts li.post .permalink {
      text-decoration: none; }
    ul.posts li.post .category-link {
      font-family: "proxima-nova-alt-condensed", Helvetica-Neue, Helvetica, Arial, sans-serif;
      font-weight: 600;
      letter-spacing: .05em;
      font-size: 0.875rem;
      box-shadow: inset 0 4px 0 0 rgba(0, 0, 0, 0.8);
      box-sizing: border-box;
      padding-top: .5rem;
      display: inline-block;
      margin-bottom: 1rem;
      line-height: 1.5rem;
      text-transform: uppercase;
      text-decoration: none; }
    ul.posts li.post .featured-image {
      float: right;
      margin-left: .5em;
      width: 4.5em;
      box-shadow: inset 0 4px 0 0 rgba(0, 0, 0, 0.8); }
      @media screen and (min-width: 37.5em) {
        ul.posts li.post .featured-image {
          width: 6em; } }
      @media screen and (min-width: 43.75em) {
        ul.posts li.post .featured-image {
          width: 9em; } }
    @media screen and (min-width: 37.5em) {
      ul.posts li.post .title {
        font-size: 1.5em;
        line-height: 1; } }
    @media screen and (min-width: 43.75em) {
      ul.posts li.post .title {
        font-size: 2em;
        line-height: 1.5; } }
    ul.posts li.post .subtitle {
      display: none; }
      @media screen and (min-width: 43.75em) {
        ul.posts li.post .subtitle {
          display: block; } }

.full-screen-container {
  display: -webkit-flex;
  display: flex;
  width: 100%;
  min-height: 25em; }

.full-screen-content {
  margin: auto;
  max-width: 50em;
  padding: 1em; }

.vertical-container {
  display: -webkit-flex;
  display: flex;
  height: 300px; }

.vertically-centered {
  margin: auto; }

.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative; }

.swipe-wrap {
  overflow: hidden;
  position: relative; }

.swipe-wrap > div {
  position: relative;
  float: left;
  width: 100%; }

.nontouchnav {
  position: absolute;
  bottom: 0;
  top: 0;
  padding: .25em 0;
  width: 100%;
  z-index: 1000;
  text-align: center;
  font-size: 1.5em;
  overflow: hidden; }
  @media screen and (min-width: 62.5em) {
    .nontouchnav {
      display: block; } }
  .nontouchnav div {
    position: absolute;
    color: #888888;
    width: 1.5em;
    cursor: pointer;
    text-align: center;
    top: 0;
    bottom: 0;
    padding-top: 27%;
    background-color: rgba(255, 255, 255, 0);
    opacity: 0;
    -webkit-transition-duration: .25s;
    -moz-transition-duration: .25s;
    -ms-transition-duration: .25s;
    -o-transition-duration: .25s;
    transition-duration: .25s; }
    .nontouchnav div:hover {
      background-color: rgba(255, 255, 255, 0.75);
      opacity: 0.5;
      color: black;
      -webkit-transition-duration: .25s;
      -moz-transition-duration: .25s;
      -ms-transition-duration: .25s;
      -o-transition-duration: .25s;
      transition-duration: .25s; }
  .nontouchnav .prev {
    left: 0; }
  .nontouchnav .next {
    right: 0; }

/*! responsive-nav.js v1.0.15 by @viljamis */
.js #info-1 {
  clip: rect(0 0 0 0);
  max-height: 0;
  position: absolute;
  display: block;
  overflow: hidden;
  zoom: 1; }

#info-1.opened {
  max-height: 9999px;
  padding: 0 0 6em 0; }

.expand {
  font-weight: bold;
  color: white;
  padding: 0;
  border: 0;
  cursor: pointer; }

a.closed {
  transition: 2s; }

a.opened {
  display: block;
  font-size: 1.1em;
  /* Safari */
  -webkit-transform: rotateY(-180deg);
  -webkit-transform: rotateZ(-45deg);
  /* Firefox */
  -moz-transform: rotateZ(-45deg);
  /* IE */
  -ms-transform: rotateZ(-45deg);
  /* Opera */
  -o-transform: rotateZ(-45deg); }
