/*
 * Layout
 */

body{
	padding-top:3rem;
}

div#main{
	
}
// Clears
header, footer, section, article, aside, ul{
	@extend %clearfix;
}



//Articles for Posts & Pages
article{
	position:relative;
	header{
		position:relative;
		background-color:$grey-light;
		color:$black;
		padding:$spacing-unit $spacing-unit;
		text-align:center;
	}
	.featured-image{
		display:block;
		width:400px;
		height:400px;
		@include circle;
		padding:0;
		margin:$spacing-unit auto;
		overflow:hidden;
		background-color:blue;
	}
	.category-link{
		font-family:$sans-font-family;
		text-transform:uppercase;
		text-decoration:none;
		font-weight:800;
		letter-spacing:.1em;
		color:$black;
		//display:block;
		//position:absolute;
		//top:0;
		//left:0;
		padding:.25em 0;
		//background-color:$brand-color-primary;
		width:auto;
		border-bottom:5px solid $black;
	}
	.title{
		text-transform:uppercase;
	}
	.subtitle{
		
	}
	a.author{}
	a.date{}
	
	aside{
		//font-size:1rem;
		//line-height:30px;
	}
	section.content{
		
	}
	footer{
		
	}
	section, div, aside{
		max-width:(emscaled(680));
		margin:0 auto;
		padding:$spacing-unit;
		@media screen and (min-width:$phablet){
			//padding:$spacing-unit $spacing-unit *2;
		}
		
	}
	@media screen and (min-width:$laptop){
		//aside{
		//	float:left;
		//	width:(em(200))
		//}
		//section{
		//	float:left;
		//}
	}
}


