
#site-header{
	
	font-family:$heading-font-family;
	font-size:$base-font-size;
	padding:0;
	background-color:$white;
	border-bottom:1px solid $b20;	
	position:fixed;
	top:0;
	z-index:999;
	left:0;
	right:0;
	a{
		display:block;
		padding:.75em 1em;
		text-decoration:none;
		color:$black;
		&.active, &:hover, &:active{
			color:$brand-color-primary;
			//background-color:$b10;
		}
		&:hover{
			
		}
		&:visited{
			color:$black;
			&:hover{
				color:$brand-color-primary;
			}
		}
	}
	#logo{
		font-size:2em;
		text-decoration:none;
		margin:0;
		display:block;
		padding:0em .5em;
		margin:0 auto;
		width:5em;
		span{
			display:inline-block;
			font-size:1em;
		}
	}
	nav#custom-nav{
		display:none;
		float:left;
		font-weight:600;
		width:100%;
		margin:0;
		padding:0;
		overflow-x:scroll;
		overflow-y:hidden;
		@extend %clearfix;
		ul{
			float:left;
			width:150%;
			li{
				float:left;
				a{
					color:$black;
					padding:1em 1em;
					//border-bottom:1px solid $grey-light;
					&:hover{
						color:$brand-color-primary;
					}				
				}
			}
		}
	}
	#toggle-menu-primary{
		border-right:1px solid $b10;
		
		float:left;
		&.active{
			//color:$brand-color-primary;
			box-shadow:0 2px 0 0 $black;
		}
	}
	#toggle-search-primary{
		border-left:1px solid $b10;
		position:absolute;
		right:0;
		top:0;
	}
}
#menu-primary{
		width:80%;
		padding:2em 10%;
		margin:0;
		overflow-y:scroll;
		font-family:$heading-font-family;
		font-weight:800;
		font-size: 1em;
		background-color:$white;
		@include quarter-sec-trans;		
		&.fixed{
			padding:0 10%;
			position:fixed;
			top:0;
			bottom:100%;
			left:0;
			right:0;
			opacity:0;
		}
		&.open{
			padding:6em 10%;
			bottom:0;
			opacity:1;
			z-index:996;
		}
		nav{
			width:100%;
			max-width:(em(700));
			margin:0 auto;
			padding: $spacing-unit 0;
			border-top: 5px solid $b90;
		}
		ul{			
			font-size: 1em;
			li{
				padding: 0;
				margin:0;
			}
			a{
				display:block;
				padding:.25em 0;
				color:$black;
				&:hover{
					color:$brand-color-primary;
				}
			}
		}
		
		
		#categories{
			
			li{
				font-size:2em;
				width:100%;
				a{
					padding:0;
				}
				@media screen and (min-width:$tablet){
					font-size:3em;
				}
			}
		}
		#pages{
			text-transform:uppercase;
			letter-spacing:.15em;
		}
		#social{
			
		}
		#tags{
			border-top:1px solid $b10;
			li{
				float:left;
				a{
					display:inline-block;
					text-transform:uppercase;
					padding:.5em 1em .5em 0;
					letter-spacing:.05em;
					&:before{
						content:'#';
						font-weight:400;
						color:$b40;
					}
				}
			}
		}
			
}

#search-primary{
	position:fixed;
	top:0;
	right:0;
	left:0;
	max-height:0;
	padding:0;
	z-index:997;
	background-color:$white;
	color:$grey-dark;
	overflow:hidden;
	@include tenth-sec-trans;
	&.open{
		max-height:100%;
		bottom:0;
		padding:6em 0;
		overflow-y:scroll;
		
	}
	@media screen and (min-width:$tablet){
		
	}
	form{
		
		display:block;
		@extend %clearfix;
		width:100%;
		max-width:(em(600));
		margin:0 auto;
		//font-size:2em;
		position:relative;
		.screen-reader-text{
			@extend %visuallyhidden;
		}
		input{
			padding:.25em .5em;
		}
		#search-field-primary{
			font-size:2em;
			border:none;
			background-color:transparent;
			outline:none;
			width:85%;
			
			margin:0 auto;
		}
		#search-submit-primary{			
			font-weight:600;
			display:block;
		    position:absolute;
			text-transform:uppercase;
			font-size:1em;
			top:0;
			right:0;
			padding:1em;
		}
	}
}


#site-footer{
	text-align:center;
	background-color:$b90;
	color:$w80;
	font-family:$sans-font-family;
	font-weight:600;
	color:$grey;
	section{
		clear:both;
		.arrow{color:$brand-color-primary;}
		.wordmark{color:$white;}
		.tagline{
			color:$grey;
			font-size:$base-font-size *1.25;
		}
		.copyright{
			font-family:$text-font-family;
			font-weight:400;
		}
	}
	li{
		a{
			color:$grey;
			display:block;
			padding:1em .5em;
			&:hover{
				color:$brand-color-primary;
			}
		}
	}
	#footer-nav{
		@media screen and (min-width:$tablet){
			float:left;	
		}
		li{
			float:left;
			width:100%;
			@media screen and (min-width:$phablet){
				width:auto;
			}
		}
	}
	#social-nav{
		@media screen and (min-width:$tablet){
			float:right;
			li{
				float:left;
			}
		}
		li{
			display:inline-block;
		}
	}
}

